<form (ngSubmit)="onSubmit()" class="f" *ngIf="loaded === true">
  <h2 style="text-align:center">Actualizar persona:</h2>
  <br/>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message">
        <strong>Información: </strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="form-group">
      <label for="name1">Primer nombre</label>
      <input type="text" class="form-control" id="name1" aria-describedby="emailHelp" placeholder="Primer nombre" [(ngModel)]="persona.primer_nombre" name="primer_nombre">
    </div>
    <div class="form-group">
        <label for="name2">Segundo nombre</label>
        <input type="text" class="form-control" id="name2" aria-describedby="emailHelp" placeholder="Segundo nombre" [(ngModel)]="persona.segundo_nombre" name="segundo_nombre">
      </div>
      <div class="form-group">
          <label for="surname1">Primer apellido</label>
          <input type="text" class="form-control" id="surname1" aria-describedby="emailHelp" placeholder="Primer apellido" [(ngModel)]="persona.primer_apellido" name="primer_apellido">
        </div>
        <div class="form-group">
            <label for="surname2">Segundo apellido</label>
            <input type="text" class="form-control" id="surname2" aria-describedby="emailHelp" placeholder="Segundo apellido" [(ngModel)]="persona.segundo_apellido" name="segundo_apellido">
        </div>
        <div class="form-group">
            <label for="born">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="born" aria-describedby="emailHelp" placeholder="Fecha de nacimiento" [(ngModel)]="persona.fecha_nacimiento" name="fecha_nacimiento">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Religión</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="persona.religion" name="religion">
              <option>Católico</option>
              <option>Evangélico</option>
              <option>Ateo</option>
              <option>Mormón</option>
              <option>Satánico</option>
              <option>Otro</option>
            </select>
          </div>
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="reli" aria-describedby="emailHelp" placeholder="Correo electrónico" [(ngModel)]="persona.correo" name="correo">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect3">Género</label>
            <select class="form-control" id="exampleFormControlSelect3" [(ngModel)]="persona.genero" name="genero">
              <option>Femenino</option>
              <option>Masculino</option>
              <option>Otro</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Datos de la dirección
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Complete la información:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                            <div class="form-group">
                                <label for="department">Departamento</label>
                                <select class="form-control" id="department" [(ngModel)]="persona.direccion.departamento" name="departamento">
                                  <option *ngFor="let department of departments">{{department}}</option>
                                </select>
                              </div>
                          <div class="form-group">
                              <label for="muni">Municipio</label>
                              <input type="text" class="form-control" id="muni" aria-describedby="emailHelp" placeholder="Municipio" [(ngModel)]="persona.direccion.municipio" name="municipio">
                          </div>
                        <div class="form-group">
                            <label for="zone">Zona</label>
                            <input type="number" class="form-control" id="zone" placeholder="Zona" [(ngModel)]="persona.direccion.zona" name="zona">
                          </div>
                          <div class="form-group">
                              <label for="col">Colonia</label>
                              <input type="text" class="form-control" id="col" aria-describedby="emailHelp" placeholder="Colonia" [(ngModel)]="persona.direccion.colonia" name="colonia">
                          </div>
                          <div class="form-group">
                              <label for="av">Avenida</label>
                              <input type="text" class="form-control" id="av" aria-describedby="emailHelp" placeholder="Avenida" [(ngModel)]="persona.direccion.avenida" name="avenida">
                          </div>
                          <div class="form-group">
                              <label for="cll">Calle</label>
                              <input type="text" class="form-control" id="cll" aria-describedby="emailHelp" placeholder="Calle" [(ngModel)]="persona.direccion.calle" name="calle">
                          </div>
                          <div class="form-group">
                              <label for="mz">Manzana</label>
                              <input type="text" class="form-control" id="mz" aria-describedby="emailHelp" placeholder="Manzana" [(ngModel)]="persona.direccion.manzana" name="manzana">
                          </div>
                          <div class="form-group">
                              <label for="nc">No. casa</label>
                              <input type="text" class="form-control" id="nc" aria-describedby="emailHelp" placeholder="# de casa" [(ngModel)]="persona.direccion.noCasa" name="noCasa">
                          </div>
                          <div class="form-group">
                            <label for="clu">Celular</label>
                            <input type="tel" class="form-control" id="clu" aria-describedby="emailHelp" placeholder="# de celular" [(ngModel)]="persona.telefonos.celular" name="celular">
                        </div>
                        <div class="form-group">
                          <label for="ht">Teléfono de casa</label>
                          <input type="tel" class="form-control" id="ht" aria-describedby="emailHelp" placeholder="# de teléfono de casa" [(ngModel)]="persona.telefonos.casa" name="casa">
                      </div>
                      <div class="form-group">
                        <label for="ot">Otro teléfono</label>
                        <input type="tel" class="form-control" id="ot" aria-describedby="emailHelp" placeholder="# de teléfono opcional" [(ngModel)]="persona.telefonos.otro" name="otro">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
  
    <button type="submit" class="btn btn-primary">Update</button>
  </form>